<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描组件-->
    <context:component-scan base-package="com.atguigu.mvc"></context:component-scan>

    <!--配置Thymeleaf视图解析器 之前使用的是jsp-->
    <bean id="viewResolver" class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
      <property name="order" value="1"/>
      <property name="characterEncoding" value="utf-8"/>
      <property name="templateEngine">
        <bean class="org.thymeleaf.spring5.SpringTemplateEngine">
          <property name="templateResolver">
            <bean class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
              <property name="prefix" value="/WEB-INF/templates/"/>
              <property name="suffix" value=".html"/>
              <property name="templateMode" value="HTML5"/>
              <property name="characterEncoding" value="utf-8"/>
            </bean>
          </property>
        </bean>
      </property>
    </bean>

    <!--如果没有逻辑处理的时候 可以直接这么写 有个问题 就是index。html 跳转会失效 也就是点击a标签 后java对应的控制器不会工作了-->
    <mvc:view-controller path="/" view-name="index"></mvc:view-controller>

    <mvc:view-controller path="/test_rest" view-name="test_rest"></mvc:view-controller>

    <!--解决方案 开启mvc的注解驱动-->
    <mvc:annotation-driven/>

    <!--配置拦截器-->
    <mvc:interceptors>
      <!--第一种 针对所有的请求都被拦截-->
      <bean class="com.atguigu.mvc.interceptors.FirstInterceptor"></bean>
      <!--也是针对所有的请求和第一种都一样-->
      <!--<ref bean="firstInterceptor"></ref>-->
      <!--第三种针对固定的路径 来进行拦截 更加精细了-->
      <!--<mvc:interceptor>-->
        <!--注意/*只是拦截的一级目录 多级目录的话 就的写/**-->
        <!--<mvc:mapping path="/**"/>-->
        <!--排除目录 -->
        <!--<mvc:exclude-mapping path="/"/>-->
        <!--满足条件后使用拦截器-->
        <!--<ref bean="firstInterceptor"></ref>-->
      <!--</mvc:interceptor>-->
    </mvc:interceptors>
  
    <!--配置异常处理-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
      <property name="exceptionMappings">
        <props>
         <!--key表示处理器方法执行过程中的异常-->
         <!--值为出现异常时制定一个新的视图名称 跳转到制定的页面-->
          <prop key="java.lang.ArithmeticException">error</prop>
        </props>
      </property>
      <!--将异常信息共享在请求域中的共享-->
      <property name="exceptionAttribute" value="ex"></property>
    </bean>
</beans>
